<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Handle client-side routing for Vue.js
  RewriteRule ^(.*)$ public/index.html [L]
</IfModule>
